.nav {
  grid-area: n;
  background-color: #2e2e2e;
  color: #757575;
  height: 100%;
  min-height: 500px;
}

.nav .item{
  padding: 10px 20px ;
}
.item:last-child{
  margin: 20px 0;
}
.active{
  background-color: red;
}